.PrincipalHeader{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid var(--color-border);
    box-shadow: var(--shadow-1);
    padding: 1rem;
    margin-bottom: 1rem;
    background-color: var(--color-white);
}
.PrincipalTitle{
    font-size: 1.5rem;
    font-weight: 600;
}