.Inicio{
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    align-items: center;
    padding-bottom: 6rem;
}
.InicioHeader{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid var(--color-border);
    box-shadow: var(--shadow-1);
    padding: 1rem;
    margin-bottom: 1rem;
    background-color: var(--color-white);
}
.InicioTitle{
    font-size: 1.5rem;
    font-weight: 600;
}
.InicioAddEventos{
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    width: 3rem;
    height: 3rem;
    border-radius: 8px;
    background-color: var(--color-accent);
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-black);
    font-size: 1.5rem;
    box-shadow: var(--shadow-2);
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.InicioAddEventos:hover{
    background-color: var(--color-accent-soft);
}